@page "/"
@inject ISnackbar _snackbar

<div class="content-container">
    <MudPaper Class="pa-5">
        <MudText Typo="Typo.h4" GutterBottom="true">CS:GO ServerManager</MudText>
        <MudText Typo="Typo.body1">Click <MudLink Href="/servers">here</MudLink> to add your first server, or check out the <MudLink Href="/help">getting started guide.</MudLink> for a complete guide</MudText>
    </MudPaper>

    @if(_settingsService.DashboardVisibilitySetting == SettingsConstants.ShowFavouritesOnDashboard) {
        @foreach (ICsgoServer server in csgoServers)
        {
            <MudPaper Style="margin-top: 30px;">
                <ServerComponent Server="server">
                    <ServerHeader>
                        <MudText Typo="Typo.h6">@server.Name</MudText>
                    </ServerHeader>
                </ServerComponent>
            </MudPaper>
        }
    } else if (_settingsService.DashboardVisibilitySetting == SettingsConstants.ShowAllServersOnDashboard)
    {
        <MudPaper Style="margin-top: 15px;">
            <ServersTable>

            </ServersTable>
        </MudPaper>
    }

</div>